*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
// #home{
// }
#nav{
    height: 9vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo{
      display: flex;
        margin-left: -8vw;
    }
    
    ul{
        margin-left: -22vw;
        display: flex;
        justify-content: space-evenly;
        li{
            margin: 2vh;
            list-style: none;
            font-weight: bold;
            font-size: 16px;
            border-bottom: 2.5px solid rgb(255, 60, 0);
            border-radius: 1vh;
            a{
              color: white;
            }
        }
    }
    .l-s-btn{
        margin-right: -10vw;
    }
    .loginbtns{
        text-decoration: none;
        // border: 2px solid rgb(25, 212, 197);
        border: 2.5px solid rgb(255, 60, 0);
        padding: .75vh;
        border-radius: 1vh;
        // background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: bold;
    
    }

        
}


// ========================swiper.js===================================
// html,
//     body {
//       position: relative;
//       height: 91vh;
//     }

    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 91vh;
      object-fit: cover;
      object-position: bottom;
    }


// Booking Form===========================================================================================

#booking{
  background-color: rgb(206, 206, 196);
  color: ghostwhite;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vh;
  padding-right: 10vh;


    div{
      margin: 5vh;
    }
    .step{
      height: 93vh;
      width: 65%;
      border-radius: 2vh;
      background: url('./cars/dan-gold-N7RiDzfF2iw-unsplash.jpg') no-repeat;
      background-size: 165%;
      background-position-y: -12vh;
      padding: 10vh;
      color: ghostwhite;
    
      
    }
    .form{
      height: 93vh;
      width: 35%;
      padding-top: 2.5vh;
      padding-left: 6vh;
      padding-right: 6vh;
      padding-bottom: 3vh;
      border-radius: 2vh;
      // background: linear-gradient(to bottom right, black,red);
      background: linear-gradient(to bottom right, #000e36, #ff004c);
      font-weight: bold;
      h1{
        text-align: center;
        border: 3px solid white;
        border-radius: 2vh;
        
      }
      .finp1{
        height: 4.65vh;
        width: 100%;
        border: 2px solid rgb(0, 0, 0);
        
      }
      .finp2{
        height: 4.65vh;
        width: 69%;
        border: 2px solid rgb(0, 0, 0);
      }
      .submit-btn{
        height: 6vh;
        width: 100%;
        background-color: black;
        color: white;
        border: 1px solid black;
        border-radius: 1vh;
      }
      a{
        color: rgb(4, 6, 61);
        font-weight: 300;
        font-size: 10px;
        margin-left: 41%;
        
      }
      
    }
}




// About-us=====================================================================

#about-us{
  
  height: 100vh;
  width: 100%;
  padding: 5vh;
  background-color: rgb(206, 206, 196);

  h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:900;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5vh;
  }
  p{
    font-size: 19px;
    text-align: justify;
  }
}