*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
}

#nav{
    height: 9vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 1vh;
    padding-left: 6vw;
    .logo{
      display: flex;
      a{
        color: white;
      }
    
    }
}

// hero================================================================================

#hero{
    background: rgb(236, 230, 230);
    height: 90vh;
    padding: 5vh;
    background: url("../cars/Mclaren.jpeg");
    background-size: cover;
}
// Heading=============================================
#heading{
  margin-left: 37%;
  margin-right: 37%;
  border:3px solid rgb(255, 255, 255);
  border-radius: 2vh;
  background-color: black;
  color: rgb(0, 255, 255);

}

// Table=======================================================

table{
  width: 100%;
  border: 3px solid black;
  border-radius: 2vh;

  thead{

    
    .mhead{
      height: 8vh;
      font-size: 22px;
      background-color: #1B1A55;
      color: rgb(255, 255, 255);
      
    }
    
    tr{
      height: 7.5vh;
      font-size: 20px;
      background-color: #ff9100;
      // color: white;
    }

  }
  tbody{
    font-size: 16px;
    tr{

      td{
        height: 5vh;
        background-color: white;
        padding: 1vh;
      }

      #edit{
        cursor: pointer;
        text-align: center;
        height: 5vh;
        background-color: #046815;
        color: white;
        padding: 1vh;
      }

      #delete{
        cursor: pointer;
        text-align: center;
        height: 5vh;
        background-color: #d60000;
        color: white;
        padding: 1vh;
      }

    }

  }

}

// Form-Edit============================================================================

#formedit{
  height: 95%;
  // border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 2vh;
  padding: 5vh;
  padding-left: 10vh;
  // background-color: black;
  // background: linear-gradient(to bottom right, rgb(34, 33, 33), rgb(4, 4, 119));
  
  h1{
    width: 33vw;
    border: 2px solid white;
    color: rgb(255, 0, 0);
    border-radius: 2vh;
    background-color: black;
    margin-bottom: 4vh;
  }

  label{
    font-size: 20px;
  }
  
  input{
    padding: 5px;
    height: 5vh;
    width: 32vw;
    border: 2px solid black;
    border-radius: 1vh;
    font-size: 18px;
  }
  #upedate{
    height: 5vh;
    width: 25vw;
  }
  #upsdate{
    height: 5vh;
    width: 25vw;
  }

  select{
    padding: 3px;
    height: 5vh;
    width: 25vw;
    border: 2px solid black;
    border-radius: 1vh;
    font-size: 18px;
  }

  #updatebtn{
    cursor: pointer;
    height: 6vh;
    width: 33vw;
    background-color: #046815;
    border: 2px solid #046815;
    border-radius: 2vh;
    color: black;
    font-size: larger;
  }

}

#form-nb{
  height: 3vh;
  padding: .5vh;
  border: 2px solid white;
  border-radius: 1vh;
  background-color: rgb(255, 96, 4);
  color: white;
  font-size: 17px;
}
